@charset "utf-8";
/* CSS Document */

.l-mvBlock{
	position:relative;
	z-index:10;
}
.l-mvBlock .l-mv{
	width: 100%;
	margin:0 auto;
	text-align:center;
	line-height:0;
	position:relative;
}
.l-mvBlock .l-mv img{
	max-width:1200px;
	width: 100%;
}

.l-block01{
	width:100%;
	margin:0 auto;
	padding:55px 0 60px;
	border-bottom:1px solid #dbdbdb;
}
.l-block01 h2{
	width:100%;
	display:block;
	margin:0;
	padding:0 0 50px;	
	text-align:center;
}
.l-block01 h2 img{
	max-width:128px;
	width:100%;
}
.l-block01 .l-block01-table{
	display:table;
	margin:0 auto;
}
.l-block01 .l-block01-table > p{
	display:table-cell;
	vertical-align:top;
}
.l-block01 .l-block01-table > p:nth-child(1){
	padding-right:10px;
}
.l-block01 .l-block01-table > p:nth-child(2){
	padding-left:5px;
	padding-right:5px;
}
.l-block01 .l-block01-table > p:nth-child(3){
	padding-left:10px;
}
.l-block01 .l-block01-table > p a{
	display:inline-block;
	line-height:0;
}
.l-block01 .l-block01-table > p a img{
	max-width:282px;
	width:100%;
}

/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:1000px){
	
	.l-mvBlock{
		position:relative;
		z-index:10;
	}
	
	.l-block01{
		width:100%;
		margin:0 auto;
		padding:35px 0 30px;
		border-bottom:1px solid #dbdbdb;
	}
	.l-block01 h2{
		width:100%;
		display:block;
		margin:0;
		padding:0 0 30px;	
		text-align:center;
	}
	.l-block01 h2 img{
		max-width:95px;
		width:100%;
	}
	.l-block01 .l-block01-table{
		display:table;
		margin:0 auto;
	}
	.l-block01 .l-block01-table > p{
		display:table-cell;
		width:33.3%;
		vertical-align:top;
	}
	.l-block01 .l-block01-table > p:nth-child(1){
		padding-right:4px;
	}
	.l-block01 .l-block01-table > p:nth-child(2){
		padding-left:2px;
		padding-right:2px;
	}
	.l-block01 .l-block01-table > p:nth-child(3){
		padding-left:4px;
	}
	.l-block01 .l-block01-table > p a{
		display:inline-block;
		line-height:0;
	}
	.l-block01 .l-block01-table > p a img{
		max-width:100%;
		width:100%;
	}
	
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
@media screen and (max-width:768px){
	
	
}
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
		
	.l-mvBlock{
		position:relative;
		z-index:10;
	}
	
	.l-block01{
		width:100%;
		margin:0 auto;
		padding:25px 0 20px;
		border-bottom:1px solid #dbdbdb;
	}
	.l-block01 h2{
		width:100%;
		display:block;
		margin:0;
		padding:0 0 20px;	
		text-align:center;
	}
	.l-block01 h2 img{
		max-width:68px;
		width:100%;
	}
	.l-block01 .l-block01-table{
		display:table;
		margin:0 auto;
	}
	.l-block01 .l-block01-table > p{
		display:table-cell;
		width:33.3%;
		vertical-align:top;
	}
	.l-block01 .l-block01-table > p:nth-child(1){
		padding-right:4px;
	}
	.l-block01 .l-block01-table > p:nth-child(2){
		padding-left:2px;
		padding-right:2px;
	}
	.l-block01 .l-block01-table > p:nth-child(3){
		padding-left:4px;
	}
	.l-block01 .l-block01-table > p a{
		display:inline-block;
		line-height:0;
	}
	.l-block01 .l-block01-table > p a img{
		max-width:100%;
		width:100%;
	}
	
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/