@charset "utf-8";
/* CSS Document */

.l-block01{
	width:100%;
	margin:0 auto;
	padding:55px 0 0px;
}
.l-block01 h2{
	width:100%;
	display:block;
	margin:0;
	padding:0 0 0px;	
	text-align:center;
}
.l-block01 h2 img{
	max-width:134px;
	width:100%;
}
.l-kensaku {
	margin:0 auto;
	text-align:center;
	padding:35px 0 0;
	display:table;
}
.l-kensaku > div {
	display:table-cell;
	vertical-align:middle;
}
.l-kensaku .p-message {
	font-size: 16px;
	padding-right:22px;
}
.l-kensaku select {
	font-size: 16px;
    padding: 7px 10px 12px;
	width:185px;
	font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	margin-right:15px;
}
.l-kensaku .l-btn .p-search {
	border: 0px;
    width:48px;
    height:44px;
    background: url(../../images/search/btn_search_pc.png) left top no-repeat;
	background-size:48px auto;
}

.activity-nav{
	width:100%;
	margin:0 auto;
	text-align:center;	
	padding:100px 0 0
}
.activity-nav .page-numbers{
	display:inline-block;
	fobnt-size:16px;
	padding:12px;
	background-color:#FFFFFF;
	border:2px solid #8d8d8d;
	margin:0 3px;
}
.activity-nav a.page-numbers{
	position:relative;
	top:-2px;
	text-decoration:none;
}
.activity-nav .page-numbers.current{
	color:#FFFFFF;
	background-color:#6c9bd2;
	border:2px solid #6c9bd2;
}


/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:1000px){
	
	.l-block01{
		width:100%;
		margin:0 auto;
		padding:35px 0 0px;
	}
	.l-block01 h2{
		width:100%;
		display:block;
		margin:0;
		padding:0 0 0px;	
		text-align:center;
	}
	.l-block01 h2 img{
		max-width:97px;
		width:100%;
	}
	
	.l-kensaku {
		margin:0 auto;
		text-align:center;
		padding:30px 0 0;
		display:block;
	}
	.l-kensaku > div {
		display:block;
		vertical-align:middle;
	}
	.l-kensaku .p-message {
		font-size: 20px;
		padding-right:0;
		padding-bottom:20px;
	}
	.l-kensaku select {
		font-size: 20px;
		padding: 15px 15px 15px;
		width:245px;
		font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
		margin-right:0;
		margin-bottom:15px;
	}
	.l-kensaku .l-btn .p-search {
		margin-top:5px;
		border: 0px;
		width:55px;
		height:51px;
		background: url(../../images/search/btn_search_sp.png) left top no-repeat;
		background-size:55px auto;
	}
	
	.activity-nav{
		width:100%;
		margin:0 auto;
		text-align:center;	
		padding:50px 0 0
	}
	.activity-nav .page-numbers{
		display:inline-block;
		fobnt-size:18px;
		padding:20px;
		background-color:#FFFFFF;
		border:2px solid #8d8d8d;
		margin:0 5px;
	}
	.activity-nav a.page-numbers{
		position:relative;
		top:-2px;
		text-decoration:none;
	}
	.activity-nav .page-numbers.current{
		color:#FFFFFF;
		background-color:#6c9bd2;
		border:2px solid #6c9bd2;
	}
	
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
@media screen and (max-width:768px){
	
	
}
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
		
	.l-block01{
		width:100%;
		margin:0 auto;
		padding:15px 0 0px;
	}
	.l-block01 h2{
		width:100%;
		display:block;
		margin:0;
		padding:0 0 0px;	
		text-align:center;
	}
	.l-block01 h2 img{
		max-width:70px;
		width:100%;
	}
	
	.l-kensaku {
		margin:0 auto;
		text-align:center;
		padding:20px 0 0;
		display:block;
	}
	.l-kensaku > div {
		display:block;
		vertical-align:middle;
	}
	.l-kensaku .p-message {
		font-size: 14px;
		padding-right:0;
		padding-bottom:15px;
	}
	.l-kensaku select {
		font-size: 14px;
		padding: 10px;
		width:175px;
		font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
		margin-right:0;
		margin-bottom:10px;
	}
	.l-kensaku .l-btn .p-search {
		margin-top:5px;
		border: 0px;
		width:39px;
		height:36px;
		background: url(../../images/search/btn_search_sp.png) left top no-repeat;
		background-size:39px auto;
	}
	
	.activity-nav{
		width:100%;
		margin:0 auto;
		text-align:center;	
		padding:35px 0 0
	}
	.activity-nav .page-numbers{
		display:inline-block;
		fobnt-size:13px;
		padding:12px;
		background-color:#FFFFFF;
		border:2px solid #8d8d8d;
		margin:0 0px;
	}
	.activity-nav a.page-numbers{
		position:relative;
		top:-1px;
		text-decoration:none;
	}
	.activity-nav .page-numbers.current{
		color:#FFFFFF;
		background-color:#6c9bd2;
		border:2px solid #6c9bd2;
	}
	
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/