@charset "utf-8";
/* CSS Document */

.l-infoBlock{
	border-bottom: none;	
}

.l-block01{
	width:100%;
	margin:0 auto;
	padding:55px 0 65px;	
	text-align:center;
}
.l-block01 .l-title_inner{
	padding:0 0px 0px;	
}
.l-block01 h2{
	display:inline-block;
	margin:0 auto;
	padding:0 0 0px;	
	text-align:center;
	font-size:30px;
	letter-spacing:0.1em;
	font-weight:bold;
	position:relative;	
}
.l-block01 h2.p-gourmet:before{
	content:"";
	background:url(../../images/detail/ico_gourmet_pc.png) left center no-repeat transparent;	
	position: absolute;
	top:6px;
	left:-2em;
	width:39px;
	height:39px;
	background-size: 39px auto;
}
.l-block01 h2.p-shopping:before{
	content:"";
	background:url(../../images/detail/ico_shopping_pc.png) left center no-repeat transparent;	
	position: absolute;
	top:5px;
	left:-2em;
	width:39px;
	height:39px;
	background-size: 39px auto;
}
.l-block01 h2.p-spot:before{
	content:"";
	background:url(../../images/detail/ico_spot_pc.png) left center no-repeat transparent;	
	position: absolute;
	top:7px;
	left:-2em;
	width:39px;
	height:39px;
	background-size: 39px auto;
}
.l-block01 .l-block01-table{
	display:table;
	margin:0 auto;
	padding:20px 0 20px;
	text-align:center;	
}
.l-block01 .l-block01-table .p-date{
	display:table-cell;
	vertical-align:middle;
	font-size:14px;
	color:#676767;
	line-height:1;
}
.l-block01 .l-block01-table .p-category{
	display:table-cell;
	vertical-align:middle;
}
.l-block01 .l-block01-table .p-category a{
	display:inline-block;
}
.l-block01 .l-block01-table .p-category span{
	display:inline-block;
	padding:5px 15px;
	font-size:12px;
	color:#FFFFFF;
	margin-left:6px;
}
.l-block01 .l-block01-table .p-category span.p-gourmet{
	background-color:#e7a814;
}
.l-block01 .l-block01-table .p-category span.p-shopping{
	background-color:#f19ca6;
}
.l-block01 .l-block01-table .p-category span.p-spot{
	background-color:#86b522;
}
/*.l-block01 .l-block01-table .p-category span.p-area01{
	background-color:#6c9bd2;
}
.l-block01 .l-block01-table .p-category span.p-area02{
	background-color:#f39939;
}
.l-block01 .l-block01-table .p-category span.p-area03{
	background-color:#ba79b1;
}
.l-block01 .l-block01-table .p-category span.p-area04{
	background-color:#86b522;
}
.l-block01 .l-block01-table .p-category span.p-area05{
	background-color:#f091a0;
}*/
.l-block01 .p-image{
	display:block;
	width:100%;
	line-height:0;
	height:400px;
	overflow:hidden;
}
.l-block01 .p-image img{
	width:100%;
}
.l-block01 .p-message{
	text-align:left;
	line-height:1.8;
	font-size:16px;
	padding-top:20px;
	letter-spacing:0.05em;
}

.l-block02{
	width:100%;
	margin:0 auto;
	padding:0px 0 75px;	
	text-align:center;
	border-bottom: 1px solid #dbdbdb;
}
.l-block02 .l-block02-01{
	width:100%;
	display:block;	
	margin:0 auto;
	padding:0;
}
.l-block02 .l-block02-01 > div{
	width:50%;
	display:inline-block;
	vertical-align:top;
}
.l-block02 .l-block02-01 > .l-left{
	padding-right:10px;
}
.l-block02 .l-block02-01 > .l-left table{
	width:100%;	
}
.l-block02 .l-block02-01 > .l-left table tbody{
	width:100%;	
}
.l-block02 .l-block02-01 > .l-left table tr{
	width:100%;	
}
.l-block02 .l-block02-01 > .l-left table tr th{
	width:132px;
	text-align:center;
	background-color:#e7a814;
	border:1px solid #231815;
	font-size:14px;
	letter-spacing:0.05em;
	padding:15px;
	color:#FFFFFF;
	vertical-align:middle;
}
.l-block02 .l-block02-01 > .l-left table tr td{
	width:auto;
	text-align:left;
	border:1px solid #231815;
	font-size:14px;
	letter-spacing:0.05em;
	padding:15px;
	vertical-align:middle;
}
.l-block02 .l-block02-01 > .l-right{
	padding-left:10px;
	overflow: hidden;
	height:325px;
	width:50%;
}
.l-block02 .l-block02-01 > .l-right iframe{
	width:100%;
	height:600px;
	margin-top:-150px;
	border:0;
}

/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:1000px){
	
	.l-block01{
		width:100%;
		margin:0 auto;
		padding:35px 0 30px;	
		text-align:center;
	}
	.l-block01 .l-title_inner{
		padding:0 40px 0px;	
	}
	.l-block01 h2{
		display:inline-block;
		margin:0 auto;
		padding:0 0 0px;	
		text-align:center;
		font-size:25px;
		letter-spacing:0.1em;
		font-weight:bold;
		position:relative;	
	}
	.l-block01 h2.p-gourmet:before{
		content:"";
		background:url(../../images/detail/ico_gourmet_sp.png) left center no-repeat transparent;	
		position: absolute;
		top:3px;
		left:-2em;
		width:37px;
		height:37px;
		background-size: 37px auto;
	}
	.l-block01 h2.p-shopping:before{
		content:"";
		background:url(../../images/detail/ico_shopping_sp.png) left center no-repeat transparent;	
		position: absolute;
		top:1px;
		left:-2em;
		width:35px;
		height:37px;
		background-size: 35px auto;
	}
	.l-block01 h2.p-spot:before{
		content:"";
		background:url(../../images/detail/ico_spot_sp.png) left center no-repeat transparent;	
		position: absolute;
		top:8px;
		left:-2em;
		width:38px;
		height:25px;
		background-size: 38px auto;
	}
	.l-block01 .l-block01-table{
		display:table;
		margin:0 auto;
		padding:15px 0 15px;
		text-align:center;	
	}
	.l-block01 .l-block01-table .p-date{
		display:table-cell;
		vertical-align:middle;
		font-size:14px;
		color:#676767;
		line-height:1;
	}
	.l-block01 .l-block01-table .p-category{
		display:table-cell;
		vertical-align:middle;
	}
	.l-block01 .l-block01-table .p-category a{
		display:inline-block;
	}
	.l-block01 .l-block01-table .p-category span{
		display:inline-block;
		padding:5px 15px;
		font-size:12px;
		color:#FFFFFF;
		margin-left:6px;
	}
	.l-block01 .l-block01-table .p-category span.p-gourmet{
		background-color:#e7a814;
	}
	.l-block01 .l-block01-table .p-category span.p-shopping{
		background-color:#f19ca6;
	}
	.l-block01 .l-block01-table .p-category span.p-spot{
		background-color:#86b522;
	}
	/*.l-block01 .l-block01-table .p-category span.p-area01{
		background-color:#6c9bd2;
	}
	.l-block01 .l-block01-table .p-category span.p-area02{
		background-color:#f39939;
	}
	.l-block01 .l-block01-table .p-category span.p-area03{
		background-color:#ba79b1;
	}
	.l-block01 .l-block01-table .p-category span.p-area04{
		background-color:#86b522;
	}
	.l-block01 .l-block01-table .p-category span.p-area05{
		background-color:#f091a0;
	}*/
	.l-block01 .p-image{
		display:block;
		width:100%;
		line-height:0;
		height:44.4vw;
		overflow:hidden;
	}
	.l-block01 .p-image img{
		width:100%;
	}
	.l-block01 .p-message{
		text-align:left;
		line-height:1.8;
		font-size:16px;
		padding-top:20px;
		letter-spacing:0.05em;
	}
	
	.l-block02{
		width:100%;
		margin:0 auto;
		padding:0px 0 35px;	
		text-align:center;
		border-bottom: 1px solid #dbdbdb;
	}
	.l-block02 .l-block02-01{
		width:100%;
		display:block;	
		margin:0 auto;
		padding:0;
	}
	.l-block02 .l-block02-01 > div{
		width:100%;
		display:block;
		vertical-align:top;
	}
	.l-block02 .l-block02-01 > .l-left{
		padding-right:0;
		padding-bottom:20px;
	}
	.l-block02 .l-block02-01 > .l-left table{
		width:100%;	
	}
	.l-block02 .l-block02-01 > .l-left table tbody{
		width:100%;	
	}
	.l-block02 .l-block02-01 > .l-left table tr{
		width:100%;	
	}
	.l-block02 .l-block02-01 > .l-left table tr th{
		width:112px;
		text-align:center;
		background-color:#e7a814;
		border:1px solid #231815;
		font-size:16px;
		letter-spacing:0.05em;
		padding:15px;
		color:#FFFFFF;
	}
	.l-block02 .l-block02-01 > .l-left table tr td{
		width:auto;
		text-align:left;
		border:1px solid #231815;
		font-size:16px;
		letter-spacing:0.05em;
		padding:15px;
	}
	.l-block02 .l-block02-01 > .l-right{
		padding-left:0;
		overflow: hidden;
		height:325px;
		width:100%;
	}
	.l-block02 .l-block02-01 > .l-right iframe{
		width:100%;
		height:600px;
		margin-top:-150px;
		border:0;
	}
	
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
@media screen and (max-width:768px){
	
	
}
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
		
	.l-block01{
		width:100%;
		margin:0 auto;
		padding:25px 0 20px;	
		text-align:center;
	}
	.l-block01 .l-title_inner{
		padding:0 30px 0px;	
	}
	.l-block01 h2{
		display:inline-block;
		margin:0 auto;
		padding:0 0 0px;	
		text-align:center;
		font-size:18px;
		letter-spacing:0.1em;
		font-weight:bold;
		position:relative;	
	}
	.l-block01 h2.p-gourmet:before{
		content:"";
		background:url(../../images/detail/ico_gourmet_sp.png) left center no-repeat transparent;	
		position: absolute;
		top:2px;
		left:-2em;
		width:26px;
		height:26px;
		background-size: 26px auto;
	}
	.l-block01 h2.p-shopping:before{
		content:"";
		background:url(../../images/detail/ico_shopping_sp.png) left center no-repeat transparent;	
		position: absolute;
		top:1px;
		left:-2em;
		width:25px;
		height:26px;
		background-size: 25px auto;
	}
	.l-block01 h2.p-spot:before{
		content:"";
		background:url(../../images/detail/ico_spot_sp.png) left center no-repeat transparent;	
		position: absolute;
		top:7px;
		left:-2em;
		width:27px;
		height:18px;
		background-size: 27px auto;
	}
	.l-block01 .l-block01-table{
		display:table;
		margin:0 auto;
		padding:10px 0 10px;
		text-align:center;	
	}
	.l-block01 .l-block01-table .p-date{
		display:table-cell;
		vertical-align:middle;
		font-size:12px;
		color:#676767;
		line-height:1;
	}
	.l-block01 .l-block01-table .p-category{
		display:table-cell;
		vertical-align:middle;
	}
	.l-block01 .l-block01-table .p-category a{
		display:inline-block;
	}
	.l-block01 .l-block01-table .p-category span{
		display:inline-block;
		padding:5px 15px;
		font-size:10px;
		color:#FFFFFF;
		margin-left:6px;
	}
	.l-block01 .l-block01-table .p-category span.p-gourmet{
		background-color:#e7a814;
	}
	.l-block01 .l-block01-table .p-category span.p-shopping{
		background-color:#f19ca6;
	}
	.l-block01 .l-block01-table .p-category span.p-spot{
		background-color:#86b522;
	}
	/*.l-block01 .l-block01-table .p-category span.p-area01{
		background-color:#6c9bd2;
	}
	.l-block01 .l-block01-table .p-category span.p-area02{
		background-color:#f39939;
	}
	.l-block01 .l-block01-table .p-category span.p-area03{
		background-color:#ba79b1;
	}
	.l-block01 .l-block01-table .p-category span.p-area04{
		background-color:#86b522;
	}
	.l-block01 .l-block01-table .p-category span.p-area05{
		background-color:#f091a0;
	}*/
	.l-block01 .p-image{
		display:block;
		width:100%;
		line-height:0;
		height:54.79vw;
		overflow:hidden;
	}
	.l-block01 .p-image img{
		width:100%;
	}
	.l-block01 .p-message{
		text-align:left;
		line-height:1.8;
		font-size:14px;
		padding-top:15px;
		letter-spacing:0.05em;
	}
	
	.l-block02{
		width:100%;
		margin:0 auto;
		padding:0px 0 25px;	
		text-align:center;
		border-bottom: 1px solid #dbdbdb;
	}
	.l-block02 .l-block02-01{
		width:100%;
		display:block;	
		margin:0 auto;
		padding:0;
	}
	.l-block02 .l-block02-01 > div{
		width:100%;
		display:block;
		vertical-align:top;
	}
	.l-block02 .l-block02-01 > .l-left{
		padding-right:0;
		padding-bottom:15px;
	}
	.l-block02 .l-block02-01 > .l-left table{
		width:100%;	
	}
	.l-block02 .l-block02-01 > .l-left table tbody{
		width:100%;	
	}
	.l-block02 .l-block02-01 > .l-left table tr{
		width:100%;	
	}
	.l-block02 .l-block02-01 > .l-left table tr th{
		width:80px;
		text-align:center;
		background-color:#e7a814;
		border:1px solid #231815;
		font-size:12px;
		letter-spacing:0.05em;
		padding:10px;
		color:#FFFFFF;
	}
	.l-block02 .l-block02-01 > .l-left table tr td{
		width:auto;
		text-align:left;
		border:1px solid #231815;
		font-size:12px;
		letter-spacing:0.05em;
		padding:10px;
	}
	.l-block02 .l-block02-01 > .l-right{
		padding-left:0;
		overflow: hidden;
		height:200px;
		width:100%;
	}
	.l-block02 .l-block02-01 > .l-right iframe{
		width:100%;
		height:500px;
		margin-top:-150px;
		border:0;
	}
	
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/