@charset "utf-8";
/* CSS Document */

/*
カラーコード

オレンジ：#e39b33
グレーライン：#dcdcdc
シャドウ：rgba(58,58,58,.4)
ボタンカラー：#de7928


*/
/*-------------------- ▼共通CSS▼ ------------------------*/
html{
	background-color:#f8f3da;
	margin-top:0 !important;
}
body{	
	color:#231815;
	font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	/*font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", "serif";*/
	font-size:14px;
	line-height:1.7;
	font-weight:normal;
	background-color:#FFFFFF;
	-webkit-text-size-adjust: none;
	
	max-width:1200px;
	width:100%;
	margin:0 auto;
}
body:before{
	display:none !important;	
}

.Midashi{
	font-family: 'Work Sans', sans-serif;
}

*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}
a{
	color:#222222;
	-webkit-transition:.3s;
	-moz-transition:.3s;
	transition:.3s;
	text-decoration:underline;
}
a:hover{
	color:#999999;
	-webkit-transition:.3s;
	-moz-transition:.3s;
	transition:.3s;
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	opacity:.7;
}

.border{
	border:1px solid #000000;	
}

header{
	width:100%;
	margin:0 auto;	
	padding:0;
	background-color:#FFFFFF;
	border-bottom:1px solid #cecece;
}

.l-header{
	width: 100%;
}
.l-header-table{
	width:100%;
	margin: 0 auto 0;
	display:table;
	padding:0;
}
.l-header-left{
	display:table-cell;		
	width:216px;
	vertical-align:middle;
	line-height:0;
	padding:0;
}
.l-header-left a{
	display:inline-block;
	padding:12px 0 17px 20px;
	line-height:0;
}
.l-header-left img{
	max-width:160px;
	width:100%;
}
.l-header-center{
	display:table-cell;		
	width:auto;
	vertical-align:top;
	padding:0;
	text-align:left;
}
.l-header-center h1{
	font-size:12px;
	font-weight:normal;
	display:block;
	padding-top:20px;
	line-height:1;
}
.l-header-center > div{
	display:table;		
	width:100%;
	text-align:left;
	margin:0 auto;
	padding-top:0px;
	line-height:0;
}
.l-header-center > div > div{
	display:table-cell;		
	width:auto;
	vertical-align:top;
	line-height:0;
}
.l-header-center > div > div a{
	line-height:1;
	padding:25px 0 20px;
	text-decoration:none;
	display:block;
	margin: 0 auto;
	font-size:16px;
	text-align:center;
}
.l-header-center > div > div a{
	position:relative;
	padding-left:45px;
}
.l-header-center > div > div a.p-gourmet{
	padding-left:38px;
}
.l-header-center > div > div a.p-shopping{
	padding-left:55px;
}
.l-header-center > div > div a.p-spot{
	padding-left:57px;
}
.l-header-center > div > div a.p-search{
	padding-left:45px;
}
.l-header-center > div > div a.p-information{
	padding-left:45px;
}
.l-header-center > div > div a span{
	display:block;
	font-size:10px;
	letter-spacing:0.1em;
	padding-top:10px;
}
.l-header-center > div > div a.p-gourmet span{
	color:#f8b62d;
}
.l-header-center > div > div a.p-shopping span{
	color:#f19ca6;
}
.l-header-center > div > div a.p-spot span{
	color:#8fc31f;
}
.l-header-center > div > div a.p-search span{
	color:#6c9bd2;
}
.l-header-center > div > div a.p-information span{
	color:#adacaa;
}
.l-header-center > div > div a:before{
	-webkit-transition:.3s;
	-moz-transition:.3s;
	transition:.3s;
}
.l-header-center > div > div a:hover:before{
	opacity:0.7;
}
.l-header-center > div > div a.p-gourmet:before{
	content:"";
	background:url(../../images/common/ico_header_01_pc.png) left center no-repeat transparent;	
	position: absolute;
	top:23px;
	left:0;
	width:39px;
	height:39px;
	background-size: 39px auto;
}
.l-header-center > div > div a.p-shopping:before{
	content:"";
	background:url(../../images/common/ico_header_02_pc.png) left center no-repeat transparent;	
	position: absolute;
	top:23px;
	left:35px;
	width:36px;
	height:36px;
	background-size: 36px auto;
}
.l-header-center > div > div a.p-spot:before{
	content:"";
	background:url(../../images/common/ico_header_03_pc.png) left center no-repeat transparent;	
	position: absolute;
	top:23px;
	left:28px;
	width:37px;
	height:25px;
	background-size: 37px auto;
}
.l-header-center > div > div a.p-search:before{
	content:"";
	background:url(../../images/common/ico_header_04_pc.png) left center no-repeat transparent;	
	position: absolute;
	top:23px;
	left:35px;
	width:32px;
	height:32px;
	background-size: 32px auto;
}
.l-header-center > div > div a.p-information:before{
	content:"";
	background:url(../../images/common/ico_header_05_pc.png) left center no-repeat transparent;	
	position: absolute;
	top:23px;
	left:25px;
	width:27px;
	height:29px;
	background-size: 27px auto;
}
.l-header-center > div > div a:after{
	content:"";
	background:url(../../images/common/ico_header_00_pc.png) right center no-repeat transparent;	
	position: absolute;
	top:36px;
	right:0;
	width:1px;
	height:11px;
	background-size: 1px auto;
}
.l-header-center > div > div:last-of-type a:after{
	content:"";
	background:none;
}

.l-header-right{
	display:none;
	width:230px;
	padding-left:70px;
	text-align:right;
	vertical-align:middle;
	position:relative;
}
.l-header-right div.p-contact{
	width:160px;
	display:table;
	vertical-align:middle;
	line-height:0;
}
.l-header-right div.p-contact a{
	width:100%;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	background-color:#3b8ac1;
	padding:0 0;
	color:#FFFFFF;
	line-height:0;
	height:70px;
	text-decoration:none;
}
.l-header-right div.p-contact a:hover{
	background-color:#1c76b5;	
}
	
.l-header nav{
	display:none;	
}

#wrapper{
	width:100%;
	margin:0 auto;
	/*padding:0;*/
	/*letter-spacing:0.1em;*/
	position:relative;
}

.l-infoBlock{
	width:100%;
	margin:0 auto;
	padding:55px 0 60px;
	border-bottom:1px solid #dbdbdb;
}
.l-infoBlock h2{
	width:100%;
	display:block;
	margin:0;
	padding:0 0 50px;	
	text-align:center;
}
.l-infoBlock h2 img{
	max-width:279px;
	width:100%;
}
.l-infoBlock .l-infoBlock-table{
	display:block;
	width:100%;
	margin:0 auto;
	padding:0;
}
.l-infoBlock .l-infoBlock-table .l-info{
	display:inline-block;
	width:25%;
	vertical-align:top;
	padding:0 9px 18px;
}
.l-infoBlock .l-infoBlock-table .l-info a{
	display:block;
	text-decoration:none;
	line-height:0;
}
.l-infoBlock .l-infoBlock-table .l-info a .p-image{
	display:block;
	width:100%;
	overflow:hidden;
	background-color:#d7d7d7;
}
.l-infoBlock .l-infoBlock-table .l-info a .p-image img{
	max-width:290px;
	width:100%;
}
.l-infoBlock .l-infoBlock-table .l-info a .p-category{
	display:block;
	width:100%;
	padding-top:6px;
}
.l-infoBlock .l-infoBlock-table .l-info a .p-category span{
	display:inline-block;
	padding:10px;
	font-size:12px;
	color:#FFFFFF;
}
.l-infoBlock .l-infoBlock-table .l-info a .p-category span:first-child{
	margin-right:6px;
}
.l-infoBlock .l-infoBlock-table .l-info a .p-category span.p-gourmet{
	background-color:#e7a814;
}
.l-infoBlock .l-infoBlock-table .l-info a .p-category span.p-shopping{
	background-color:#f19ca6;
}
.l-infoBlock .l-infoBlock-table .l-info a .p-category span.p-spot{
	background-color:#86b522;
}
/*.l-infoBlock .l-infoBlock-table .l-info a .p-category span.p-area01{
	background-color:#6c9bd2;
}
.l-infoBlock .l-infoBlock-table .l-info a .p-category span.p-area02{
	background-color:#f39939;
}
.l-infoBlock .l-infoBlock-table .l-info a .p-category span.p-area03{
	background-color:#ba79b1;
}
.l-infoBlock .l-infoBlock-table .l-info a .p-category span.p-area04{
	background-color:#86b522;
}
.l-infoBlock .l-infoBlock-table .l-info a .p-category span.p-area05{
	background-color:#f091a0;
}*/
.l-infoBlock .l-infoBlock-table .l-info a .p-date{
	display:block;
	width:100%;
	font-size:12px;
	color:#676767;
	line-height:1;
	padding-top:10px;
}
.l-infoBlock .l-infoBlock-table .l-info a .p-title{
	display:block;
	width:100%;
	font-size:14px;
	line-height:1.5;
	padding-top:5px;
}

.l-searchBlock{
	width:100%;
	margin:0 auto;
	padding:55px 0 60px;
}
.l-searchBlock h2{
	width:100%;
	display:block;
	margin:0;
	padding:0 0 50px;	
	text-align:center;
}
.l-searchBlock h2 img{
	max-width:171px;
	width:100%;
}
.l-searchBlock .l-searchBlock-table{
	display:block;
	width:100%;
	margin:0 auto;
	padding:0;
}
.l-searchBlock .l-searchBlock-table .l-search{
	display:inline-block;
	width:25%;
	vertical-align:top;
	padding:0 9px 20px;
}
.l-searchBlock .l-searchBlock-table .l-search a{
	display:block;
	text-decoration:none;
	line-height:0;
}
.l-searchBlock .l-searchBlock-table .l-search a .p-image{
	display:block;
	width:100%;
	overflow:hidden;
	background-color:#d7d7d7;
}
.l-searchBlock .l-searchBlock-table .l-search a .p-image img{
	max-width:290px;
	width:100%;
}
.l-searchBlock .l-searchBlock-table .l-search a .p-category{
	display:block;
	width:100%;
	padding-top:6px;
}
.l-searchBlock .l-searchBlock-table .l-search a .p-category span{
	display:inline-block;
	padding:10px;
	font-size:12px;
	color:#FFFFFF;
}
.l-searchBlock .l-searchBlock-table .l-search a .p-category span:first-child{
	margin-right:6px;
}
.l-searchBlock .l-searchBlock-table .l-search a .p-category span.p-gourmet{
	background-color:#e7a814;
}
.l-searchBlock .l-searchBlock-table .l-search a .p-category span.p-shopping{
	background-color:#f19ca6;
}
.l-searchBlock .l-searchBlock-table .l-search a .p-category span.p-spot{
	background-color:#86b522;
}
.p-area01,
.p-area02,
.p-area03,
.p-area04{
	background-color:#6c9bd2 !important;
}
.p-area05,
.p-area06,
.p-area07,
.p-area08{
	background-color:#f39939 !important;
}
.p-area09,
.p-area10,
.p-area11,
.p-area12{
	background-color:#ba79b1 !important;
}
.p-area13,
.p-area14,
.p-area15,
.p-area16{
	background-color:#86b522 !important;
}
.p-area17,
.p-area18,
.p-area19,
.p-area20{
	background-color:#f091a0 !important;
}
.l-searchBlock .l-searchBlock-table .l-search a .p-date{
	display:block;
	width:100%;
	font-size:12px;
	color:#676767;
	line-height:1;
	padding-top:10px;
}
.l-searchBlock .l-searchBlock-table .l-search a .p-title{
	display:block;
	width:100%;
	font-size:14px;
	line-height:1.7;
	padding-top:5px;
	letter-spacing:-0.025em;
}

.l-searchBlock2{
	width:100%;
	margin:0 auto;
	padding:55px 0 60px;
}
.l-searchBlock2 h2{
	width:100%;
	display:block;
	margin:0;
	padding:0 0 50px;	
	text-align:center;
}
.l-searchBlock2 h2 img{
	max-width:171px;
	width:100%;
}
.l-searchBlock2 .l-searchBlock2-table{
	display:block;
	width:100%;
	margin:0 auto;
	padding:0;
}
.l-searchBlock2 .l-searchBlock2-table .l-search2{
	display:inline-block;
	width:25%;
	vertical-align:top;
	padding:0 9px 20px;
}
.l-searchBlock2 .l-searchBlock2-table .l-search2 a{
	display:block;
	text-decoration:none;
	line-height:0;
}
.l-searchBlock2 .l-searchBlock2-table .l-search2 a .p-image{
	display:block;
	width:100%;
	overflow:hidden;
	background-color:#d7d7d7;
}
.l-searchBlock2 .l-searchBlock2-table .l-search2 a .p-image img{
	max-width:290px;
	width:100%;
}
.l-searchBlock2 .l-searchBlock2-table .l-search2 a .p-category{
	display:block;
	width:100%;
	padding-top:6px;
}
.l-searchBlock2 .l-searchBlock2-table .l-search2 a .p-category span{
	display:inline-block;
	padding:10px;
	font-size:12px;
	color:#FFFFFF;
}
.l-searchBlock2 .l-searchBlock2-table .l-search2 a .p-category span:first-child{
	margin-right:6px;
}
.l-searchBlock2 .l-searchBlock2-table .l-search2 a .p-category span.p-gourmet{
	background-color:#e7a814;
}
.l-searchBlock2 .l-searchBlock2-table .l-search2 a .p-category span.p-shopping{
	background-color:#f19ca6;
}
.l-searchBlock2 .l-searchBlock2-table .l-search2 a .p-category span.p-spot{
	background-color:#86b522;
}
/*.l-searchBlock2 .l-searchBlock2-table .l-search2 a .p-category span.p-area01{
	background-color:#6c9bd2;
}
.l-searchBlock2 .l-searchBlock2-table .l-search2 a .p-category span.p-area02{
	background-color:#f39939;
}
.l-searchBlock2 .l-searchBlock2-table .l-search2 a .p-category span.p-area03{
	background-color:#ba79b1;
}
.l-searchBlock2 .l-searchBlock2-table .l-search2 a .p-category span.p-area04{
	background-color:#86b522;
}
.l-searchBlock2 .l-searchBlock2-table .l-search2 a .p-category span.p-area05{
	background-color:#f091a0;
}*/
.l-searchBlock2 .l-searchBlock2-table .l-search2 a .p-date{
	display:block;
	width:100%;
	font-size:12px;
	color:#676767;
	line-height:1;
	padding-top:10px;
}
.l-searchBlock2 .l-searchBlock2-table .l-search2 a .p-title{
	display:block;
	width:100%;
	font-size:14px;
	line-height:1.7;
	padding-top:5px;
	letter-spacing:-0.025em;
}

footer{
	width:100%;
	margin:40px auto 0;
	padding:35px 0 20px;
	background-color:#fce1e8;
}
footer .l-footerBlock01{
	width:100%;
	padding:0px 0 0px;
	text-align:center;
}
footer .l-footerBlock01 .l-footerBlock01-table{
	width:100%;
	display:table;
}
footer .l-footerBlock01 .l-footerBlock01-table > div{
	display:table-cell;
}
footer .l-footerBlock01 .l-footerBlock01-table > .l-left{
	width:265px;
	vertical-align:middle;
}
footer .l-footerBlock01 .l-footerBlock01-table > .l-left p{
	text-align:center;
	padding-left:0;
	padding-top:15px;
}
footer .l-footerBlock01 .l-footerBlock01-table > .l-left p img{
	max-width:140px;
	width:100%;
}
footer .l-footerBlock01 .l-footerBlock01-table > .l-right{
	width:auto;
	vertical-align:middle;
	text-align:left;
}
footer .l-footerBlock01 .l-footerBlock01-table > .l-right .l-link{
	font-size:14px;
	color:#676767;
}
footer .l-footerBlock01 .l-footerBlock01-table > .l-right .l-link a{
	text-decoration:none;
	color:#676767;
	padding:0 15px;
	letter-spacing:0.05em;
	position:relative;
	top:-1px;
	border-left:1px solid #676767;
}
footer .l-footerBlock01 .l-footerBlock01-table > .l-right .l-link a:last-child{
	border-right:1px solid #676767;
}
footer .l-footerBlock01 .l-footerBlock01-table > .l-right .l-link a:hover{
	opacity:0.7;
}
footer .l-footerBlock01 .l-footerBlock01-table > .l-right .l-adress{
	padding-top:15px;
	font-size:16px;
	color:#231815;
	line-height:1.8;
	letter-spacing:0.05em;
	font-weight:bold;
}
footer .l-footerBlock01 .l-footerBlock01-table > .l-right .l-banner{
	padding-top:15px;
	display:table;
}
footer .l-footerBlock01 .l-footerBlock01-table > .l-right .l-banner p{
	display:table-cell;
	vertical-align:top;
	padding-right:10px;
}
footer .l-footerBlock01 .l-footerBlock01-table > .l-right .l-banner p{
	display:table-cell;
	vertical-align:top;
	padding-right:10px;
}
footer .l-footerBlock01 .l-footerBlock01-table > .l-right .l-banner p img.p-banner01{
	max-width:179px;
	width:100%;
}
footer .l-footerBlock01 .l-footerBlock01-table > .l-right .l-banner p img.p-banner02{
	max-width:180px;
	width:100%;
}
footer .l-footerBlock01 .l-footerBlock01-table > .l-right .l-banner p img.p-banner03{
	max-width:192px;
	width:100%;
}
footer .l-copy{
	width:100%;
	margin:0 auto;
	text-align:center;
	padding:25px 0 0;
}
footer .l-copy p{
	font-size:12px;
	color:#676767;
}

.l-wrapper{
	width:100%;
	margin:0px auto;
}

.l-container{
	width:100%;
	margin:0px auto;
}

.l-inner{
	max-width:1200px;
	width:100%;
	margin:0 auto;
	padding:0 20px;
}
.l-inner1100{
	max-width:1140px;
	width:100%;
	margin:0 auto;
	padding:0 20px;
}
.l-inner1000{
	max-width:1040px;
	width:100%;
	margin:0 auto;
	padding:0 20px;
}
.l-inner700{
	max-width:740px;
	width:100%;
	margin:0 auto;
	padding:0 20px;
}

.pconly{
	display:block !important;
}

.sponly0{
	display:none !important;
}

.sponly{
	display:none !important;	
}

.sponly1{
	display:block !important;
}

.sponly1_5{
	display:none !important;
}

.sponly2{
	display:none !important;
}

.pb20{
	padding-bottom:20px;	
}

.w100{
	width:100%;	
}

.disnone{
	display:none !important;
}

.p-link{
	text-decoration:underline;	
}

/*-------------------- ▲共通CSS▲ ------------------------*/

/*---------------- ▼PCのみCSS▼ --------------------*/
@media screen and (max-width:1000px){	
	
	html{
		background-color:#FFFFFF;	
	}
	header{
		position:fixed;
		top:0;
		z-index:10000;
		box-shadow:0px 0px 9px 1px #cccccc;
		border:none;
	}
	.l-header {
		width: 100%;
		height: 98px;
	}
	.l-header-table {
		width: 100%;
		margin: 0 auto 0;
		display: table;
		padding: 0;
	}
	.l-header-left{
		display:table-cell;		
		width:auto;
		vertical-align:middle;
		line-height:0;
		padding:0;
	}
	.l-header-left a{
		display:inline-block;
		padding:14px 15px 14px 15px;
		line-height:0;
	}
	.l-header-left img{
		max-width:125px;
		width:100%;
		/*height:20px;*/
	}
	
	.l-header-center {
		display: none;
	}
	
	.l-header-right {
		display: table-cell;
		width: 98px;
		padding-left: 0px;
		text-align: right;
		vertical-align: middle;
		position: relative;
		line-height:0;
	}
	.l-header-right div.p-contact {
		display: none;
	}
	
	.l-header nav{
		display:block;	
	}
	
	#toggle {
		display: table;
		padding: 0px 0;
		cursor: pointer;
		height: 98px;
		width: 98px;
		background-color:#ee7753;
	}
	#toggle-btn {
		float: none;
		display: table-cell;
		vertical-align: middle;
		text-align:center;
	}
	#toggle-btn-icon {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0px;
		bottom:0;
		width: 60px;
		height: 6px;
		margin: auto;
		background: #FFFFFF;
		transition: .2s;
	}
	#toggle-btn-icon:before, #toggle-btn-icon:after {
		display: block;
		content: "";
		position: absolute;
		top: 0px;
		right: 0;
		width: 60px;
		height: 6px;
		background: #FFFFFF;
		transition: .3s;
	}
	#toggle-btn-icon:before {
		margin-top: -18px;
	}
	#toggle-btn-icon:after {
		margin-top: 18px;
	}
	#toggle-btn .close {
		background: transparent !important;
		top: 0px;
	}
	#toggle-btn .close:before, #toggle-btn .close:after {
		margin-top: 0;
	}
	#toggle-btn .close:before {
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
	}
	#toggle-btn .close:after {
		transform: rotate(-135deg);
		-webkit-transform: rotate(-135deg);
	}
	
	/* --- nav ---*/
	#global-nav-area {
		display:none;
		max-width: 1000px;
		width: 100%;
		margin:0 auto;
		position: absolute;
		z-index:10000;
		right:0;		
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		text-align:left;
		overflow:auto !important;
		-webkit-overflow-scrolling: touch;
		/*height:100% !important;*/
		background-color:rgba(248,243,218,1.0);
	}
	#global-nav {
		padding:5px 15px 30px;
	}
	
	#global-nav > li {
		display:inline-block;
		text-align:left;
		padding-top:15px;
		line-height:0;
		width:33.3%;
	}
	#global-nav > li:nth-child(1) {
		padding-right:10px;
	}
	#global-nav > li:nth-child(2) {
		padding-left:5px;
		padding-right:5px;
	}
	#global-nav > li:nth-child(3) {
		padding-left:10px;
	}
	#global-nav > li:nth-child(4) {
		padding-right:10px;
	}
	#global-nav > li:nth-child(5) {
		padding-left:5px;
		padding-right:5px;
	}
	/*#global-nav > li:first-child {
		padding-top:31px;
	}*/
	#global-nav > li > p {
		width:100%;
		text-align:left;
		display:block;
		line-height:0;
	}
	#global-nav > li > p a {
		text-align:left;
		display:block;
		padding:0;
		position:relative;
		text-decoration:none;
		line-height:0;
	}
	#global-nav > li > p a img {
		width:100%;
	}
	
	.l-infoBlock{
		width:100%;
		margin:0 auto;
		padding:35px 0 30px;
		border-bottom:1px solid #dbdbdb;
	}
	.l-infoBlock h2{
		width:100%;
		display:block;
		margin:0;
		padding:0 0 30px;	
		text-align:center;
	}
	.l-infoBlock h2 img{
		max-width:199px;
		width:100%;
	}
	.l-infoBlock .l-infoBlock-table{
		display:block;
		width:100%;
		margin:0 auto;
		padding:0;
	}
	.l-infoBlock .l-infoBlock-table .l-info{
		display:inline-block;
		width:50%;
		vertical-align:top;
		padding:0 0px 25px;
	}
	.l-infoBlock .l-infoBlock-table .l-info:nth-child(odd){
		padding:0 10px 25px 0;
	}
	.l-infoBlock .l-infoBlock-table .l-info:nth-child(even){
		padding:0 0 25px 10px;
	}
	.l-infoBlock .l-infoBlock-table .l-info:nth-child(3),
	.l-infoBlock .l-infoBlock-table .l-info:nth-child(4){
		padding-bottom:0;
	}
	.l-infoBlock .l-infoBlock-table .l-info a{
		display:block;
		text-decoration:none;
		line-height:0;
	}
	.l-infoBlock .l-infoBlock-table .l-info a .p-image{
		display:block;
		width:100%;
		overflow:hidden;
		background-color:#d7d7d7;
	}
	.l-infoBlock .l-infoBlock-table .l-info a .p-image img{
		max-width:100%;
		width:100%;
	}
	.l-infoBlock .l-infoBlock-table .l-info a .p-category{
		display:block;
		width:100%;
		padding-top:15px;
	}
	.l-infoBlock .l-infoBlock-table .l-info a .p-category span{
		display:inline-block;
		padding:15px;
		font-size:14px;
		color:#FFFFFF;
	}
	.l-infoBlock .l-infoBlock-table .l-info a .p-category span:first-child{
		margin-right:7px;
	}
	.l-infoBlock .l-infoBlock-table .l-info a .p-category span.p-gourmet{
		background-color:#e7a814;
	}
	.l-infoBlock .l-infoBlock-table .l-info a .p-category span.p-shopping{
		background-color:#f19ca6;
	}
	.l-infoBlock .l-infoBlock-table .l-info a .p-category span.p-spot{
		background-color:#86b522;
	}
	/*.l-infoBlock .l-infoBlock-table .l-info a .p-category span.p-area01{
		background-color:#6c9bd2;
	}
	.l-infoBlock .l-infoBlock-table .l-info a .p-category span.p-area02{
		background-color:#f39939;
	}
	.l-infoBlock .l-infoBlock-table .l-info a .p-category span.p-area03{
		background-color:#ba79b1;
	}
	.l-infoBlock .l-infoBlock-table .l-info a .p-category span.p-area04{
		background-color:#86b522;
	}
	.l-infoBlock .l-infoBlock-table .l-info a .p-category span.p-area05{
		background-color:#f091a0;
	}*/
	.l-infoBlock .l-infoBlock-table .l-info a .p-date{
		display:block;
		width:100%;
		font-size:14px;
		color:#676767;
		line-height:1;
		padding-top:15px;
	}
	.l-infoBlock .l-infoBlock-table .l-info a .p-title{
		display:block;
		width:100%;
		font-size:15px;
		line-height:1.5;
		padding-top:10px;
	}
	
	.l-searchBlock{
		width:100%;
		margin:0 auto;
		padding:35px 0 30px;
	}
	.l-searchBlock h2{
		width:100%;
		display:block;
		margin:0;
		padding:0 0 30px;	
		text-align:center;
	}
	.l-searchBlock h2 img{
		max-width:140px;
		width:100%;
	}
	.l-searchBlock .l-searchBlock-table{
		display:block;
		width:100%;
		margin:0 auto;
		padding:0;
	}
	.l-searchBlock .l-searchBlock-table .l-search{
		display:inline-block;
		width:50%;
		vertical-align:top;
		padding:0 0px 25px;
	}
	.l-searchBlock .l-searchBlock-table .l-search:nth-child(odd){
		padding:0 10px 25px 0;
	}
	.l-searchBlock .l-searchBlock-table .l-search:nth-child(even){
		padding:0 0 25px 10px;
	}
	.l-searchBlock .l-searchBlock-table .l-search a{
		display:block;
		text-decoration:none;
		line-height:0;
	}
	.l-searchBlock .l-searchBlock-table .l-search a .p-image{
		display:block;
		width:100%;
		overflow:hidden;
		background-color:#d7d7d7;
	}
	.l-searchBlock .l-searchBlock-table .l-search a .p-image img{
		max-width:100%;
		width:100%;
	}
	.l-searchBlock .l-searchBlock-table .l-search a .p-category{
		display:block;
		width:100%;
		padding-top:15px;
	}
	.l-searchBlock .l-searchBlock-table .l-search a .p-category span{
		display:inline-block;
		padding:15px;
		font-size:14px;
		color:#FFFFFF;
	}
	.l-searchBlock .l-searchBlock-table .l-search a .p-category span:first-child{
		margin-right:7px;
	}
	.l-searchBlock .l-searchBlock-table .l-search a .p-category span.p-gourmet{
		background-color:#e7a814;
	}
	.l-searchBlock .l-searchBlock-table .l-search a .p-category span.p-shopping{
		background-color:#f19ca6;
	}
	.l-searchBlock .l-searchBlock-table .l-search a .p-category span.p-spot{
		background-color:#86b522;
	}
	/*.l-searchBlock .l-searchBlock-table .l-search a .p-category span.p-area01{
		background-color:#6c9bd2;
	}
	.l-searchBlock .l-searchBlock-table .l-search a .p-category span.p-area02{
		background-color:#f39939;
	}
	.l-searchBlock .l-searchBlock-table .l-search a .p-category span.p-area03{
		background-color:#ba79b1;
	}
	.l-searchBlock .l-searchBlock-table .l-search a .p-category span.p-area04{
		background-color:#86b522;
	}
	.l-searchBlock .l-searchBlock-table .l-search a .p-category span.p-area05{
		background-color:#f091a0;
	}*/
	.l-searchBlock .l-searchBlock-table .l-search a .p-date{
		display:block;
		width:100%;
		font-size:14px;
		color:#676767;
		line-height:1;
		padding-top:15px;
	}
	.l-searchBlock .l-searchBlock-table .l-search a .p-title{
		display:block;
		width:100%;
		font-size:15px;
		line-height:1.5;
		padding-top:15px;
	}
	
	.l-searchBlock2{
		width:100%;
		margin:0 auto;
		padding:35px 0 30px;
	}
	.l-searchBlock2 h2{
		width:100%;
		display:block;
		margin:0;
		padding:0 0 30px;	
		text-align:center;
	}
	.l-searchBlock2 h2 img{
		max-width:140px;
		width:100%;
	}
	.l-searchBlock2 .l-searchBlock2-table{
		display:block;
		width:100%;
		margin:0 auto;
		padding:0;
	}
	.l-searchBlock2 .l-searchBlock2-table .l-search2{
		display:block;
		width:100%;
		vertical-align:top;
		padding:0 0px 25px;
	}
	.l-searchBlock2 .l-searchBlock2-table .l-search2:nth-child(odd){
		padding:0 0 25px 0;
	}
	.l-searchBlock2 .l-searchBlock2-table .l-search2:nth-child(even){
		padding:0 0 25px 0;
	}
	.l-searchBlock2 .l-searchBlock2-table .l-search2 a{
		display:block;
		text-decoration:none;
		line-height:0;
	}
	.l-searchBlock2 .l-searchBlock2-table .l-search2 a .p-image{
		display:inline-block;
		float:left;
		width:50%;
		overflow:hidden;
		background-color:#d7d7d7;
	}
	.l-searchBlock2 .l-searchBlock2-table .l-search2 a .p-image img{
		max-width:100%;
		width:100%;
	}
	.l-searchBlock2 .l-searchBlock2-table .l-search2 a .p-category{
		display:inline-block;
		float:left;
		width:50%;
		padding-top:0;
		padding-left:15px;
	}
	.l-searchBlock2 .l-searchBlock2-table .l-search2 a .p-category span{
		display:inline-block;
		padding:15px;
		font-size:14px;
		color:#FFFFFF;
	}
	.l-searchBlock2 .l-searchBlock2-table .l-search2 a .p-category span:first-child{
		margin-right:7px;
	}
	.l-searchBlock2 .l-searchBlock2-table .l-search2 a .p-category span.p-gourmet{
		background-color:#e7a814;
	}
	.l-searchBlock2 .l-searchBlock2-table .l-search2 a .p-category span.p-shopping{
		background-color:#f19ca6;
	}
	.l-searchBlock2 .l-searchBlock2-table .l-search2 a .p-category span.p-spot{
		background-color:#86b522;
	}
	/*.l-searchBlock2 .l-searchBlock2-table .l-search2 a .p-category span.p-area01{
		background-color:#6c9bd2;
	}
	.l-searchBlock2 .l-searchBlock2-table .l-search2 a .p-category span.p-area02{
		background-color:#f39939;
	}
	.l-searchBlock2 .l-searchBlock2-table .l-search2 a .p-category span.p-area03{
		background-color:#ba79b1;
	}
	.l-searchBlock2 .l-searchBlock2-table .l-search2 a .p-category span.p-area04{
		background-color:#86b522;
	}
	.l-searchBlock2 .l-searchBlock2-table .l-search2 a .p-category span.p-area05{
		background-color:#f091a0;
	}*/
	.l-searchBlock2 .l-searchBlock2-table .l-search2 a .p-date{
		display:inline-block;
		float:left;
		width:50%;
		font-size:14px;
		color:#676767;
		line-height:1;
		padding-top:15px;
		padding-left:15px;
	}
	.l-searchBlock2 .l-searchBlock2-table .l-search2 a .p-title{
		display:inline-block;
		float:left;
		width:50%;
		font-size:15px;
		line-height:1.5;
		padding-top:15px;
		padding-left:15px;
	}
	
	footer{
		width:100%;
		margin:30px auto 0;
		padding:30px 0 15px;
		background-color:#fce1e8;
	}
	footer .l-footerBlock01{
		width:100%;
		padding:0px 0 0px;
		text-align:center;
	}
	footer .l-footerBlock01 .l-footerBlock01-table{
		width:100%;
		display:block;
	}
	footer .l-footerBlock01 .l-footerBlock01-table > div{
		display:block;
	}
	footer .l-footerBlock01 .l-footerBlock01-table > .l-left{
		width:100%;
		vertical-align:middle;
	}
	footer .l-footerBlock01 .l-footerBlock01-table > .l-left p{
		text-align:center;
		padding-left:0;
		padding-bottom:50px;
		padding-top:30px;
	}
	footer .l-footerBlock01 .l-footerBlock01-table > .l-left p img{
		max-width:129px;
		width:100%;
	}
	footer .l-footerBlock01 .l-footerBlock01-table > .l-right{
		width:100%;
		vertical-align:middle;
		text-align:center;
	}
	footer .l-footerBlock01 .l-footerBlock01-table > .l-right .l-link{
		font-size:18px;
		color:#676767;
		line-height:0;
	}
	footer .l-footerBlock01 .l-footerBlock01-table > .l-right .l-link a{
		display:inline-block;
		width:33.3%;
		text-decoration:none;
		color:#676767;
		padding:10px 15px;
		letter-spacing:0.05em;
		position:relative;
		top:-1px;
		line-height:1;
		margin:0 0 30px;
		border-left:1px solid #676767;
	}
	footer .l-footerBlock01 .l-footerBlock01-table > .l-right .l-link a:nth-child(3){
		border-right:1px solid #676767;
	}
	footer .l-footerBlock01 .l-footerBlock01-table > .l-right .l-link a:hover{
		opacity:0.7;
	}
	footer .l-footerBlock01 .l-footerBlock01-table > .l-right .l-adress{
		padding-top:10px;
		font-size:18px;
		color:#231815;
		line-height:1.8;
		letter-spacing:0.05em;
		font-weight:bold;
		text-align:left;
	}
	footer .l-footerBlock01 .l-footerBlock01-table > .l-right .l-banner{
		padding-top:20px;
		display:block;
	}
	footer .l-footerBlock01 .l-footerBlock01-table > .l-right .l-banner p{
		display:inline-block;
		width:33.3%;
		vertical-align:top;
	}
	footer .l-footerBlock01 .l-footerBlock01-table > .l-right .l-banner p:nth-child(1){
		padding-right:15px;
	}
	footer .l-footerBlock01 .l-footerBlock01-table > .l-right .l-banner p:nth-child(2){
		padding-left:10px;
		padding-right:10px;
	}
	footer .l-footerBlock01 .l-footerBlock01-table > .l-right .l-banner p:nth-child(3){
		padding-left:15px;
	}
	footer .l-footerBlock01 .l-footerBlock01-table > .l-right .l-banner p img.p-banner01{
		max-width:100%;
		width:100%;
	}
	footer .l-footerBlock01 .l-footerBlock01-table > .l-right .l-banner p img.p-banner02{
		max-width:100%;
		width:100%;
	}
	footer .l-footerBlock01 .l-footerBlock01-table > .l-right .l-banner p img.p-banner03{
		max-width:100%;
		width:100%;
	}
	footer .l-copy{
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:25px 0 0;
	}
	footer .l-copy p{
		font-size:14px;
		color:#676767;
	}
	
	.l-inner{
		padding:0 15px;
	}
	.l-inner1100{
		padding:0 15px;
	}
	.l-inner1000{
		padding:0 15px;
	}
	.l-inner700{
		padding:0 15px;
	}
	
	.pconly{
		display:none !important;
	}
	
	.sponly0{
		display:block !important;
	}
	
	.sponly{
		display:block !important;
	}
	
	.sponly1{
		display:block !important;
	}
	
	.sponly1_5{
		display:none !important;
	}
	
	.sponly2{
		display:none !important;
	}
	
}
/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:768px){
	
	.l-globalMenu{
		display:none;
	}
	
	.pconly{
		display:none !important;
	}
	
	.sponly0{
		display:block !important;
	}
	
	.sponly{
		display:none !important;
	}
	
	.sponly1{
		display:none !important;
	}
	
	.sponly1_5{
		display:block !important;
	}
	
	.sponly2{
		display:none !important;
	}
	
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
/*---------------- ▼タブレットのみ（1024～641）CSS▼ --------------------*/
@media screen and (max-width:768px) and (min-width:320px) {
	
}
/*---------------- ▲タブレットのみ（1024～641）CSS▲ --------------------*/
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
	
	html{
		background-color:#FFFFFF;	
	}
	header{
		position:fixed;
		top:0;
		z-index:10000;
		box-shadow:0px 0px 9px 1px #cccccc;
	}
	.l-header {
		width: 100%;
		height: 70px;
	}
	.l-header-table {
		width: 100%;
		margin: 0 auto 0;
		display: table;
		padding: 0;
	}
	.l-header-left{
		display:table-cell;		
		width:auto;
		vertical-align:middle;
		line-height:0;
		padding:0;
	}
	.l-header-left a{
		display:inline-block;
		padding:13px 10px 12px 10px;
		line-height:0;
	}
	.l-header-left img{
		max-width:82px;
		width:100%;
		/*height:20px;*/
	}
	
	.l-header-center {
		display: none;
	}
	
	.l-header-right {
		display: table-cell;
		width: 70px;
		padding-left: 0px;
		text-align: right;
		vertical-align: middle;
		position: relative;
		line-height:0;
	}
	.l-header-right div.p-contact {
		display: none;
	}
	
	.l-header nav{
		display:block;	
	}
	
	#toggle {
		display: table;
		padding: 0px 0;
		cursor: pointer;
		height: 70px;
		width: 70px;
		background-color:#ee7753;
	}
	#toggle-btn {
		float: none;
		display: table-cell;
		vertical-align: middle;
		text-align:center;
	}
	#toggle-btn-icon {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0px;
		bottom:0;
		width: 42px;
		height: 4px;
		margin: auto;
		background: #FFFFFF;
		transition: .2s;
	}
	#toggle-btn-icon:before, #toggle-btn-icon:after {
		display: block;
		content: "";
		position: absolute;
		top: 0px;
		right: 0;
		width: 42px;
		height: 4px;
		background: #FFFFFF;
		transition: .3s;
	}
	#toggle-btn-icon:before {
		margin-top: -12px;
	}
	#toggle-btn-icon:after {
		margin-top: 12px;
	}
	#toggle-btn .close {
		background: transparent !important;
		top: 0px;
	}
	#toggle-btn .close:before, #toggle-btn .close:after {
		margin-top: 0;
	}
	#toggle-btn .close:before {
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
	}
	#toggle-btn .close:after {
		transform: rotate(-135deg);
		-webkit-transform: rotate(-135deg);
	}
	
	/* --- nav ---*/
	#global-nav-area {
		display:none;
		max-width: 1000px;
		width: 100%;
		margin:0 auto;
		position: absolute;
		z-index:10000;
		right:0;		
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		text-align:left;
		overflow:auto !important;
		-webkit-overflow-scrolling: touch;
		/*height:100% !important;*/
		background-color:rgba(248,243,218,1.0);
	}
	#global-nav {
		padding:5px 10px 20px;
	}
	
	#global-nav > li {
		display:inline-block;
		text-align:left;
		padding-top:5px;
		line-height:0;
		width:50%;
	}
	#global-nav > li:nth-child(1) {
		padding-right:5px;
	}
	#global-nav > li:nth-child(2) {
		padding-left:5px;
		padding-right:0;
	}
	#global-nav > li:nth-child(3) {
		padding-left:0px;
		padding-right:5px;
	}
	#global-nav > li:nth-child(4) {
		padding-left:5px;
		padding-right:0px;
	}
	#global-nav > li:nth-child(5) {
		padding-left:0px;
		padding-right:5px;
	}
	/*#global-nav > li:first-child {
		padding-top:31px;
	}*/
	#global-nav > li > p {
		width:100%;
		text-align:left;
		display:block;
		line-height:0;
	}
	#global-nav > li > p a {
		text-align:left;
		display:block;
		padding:0;
		position:relative;
		text-decoration:none;
		line-height:0;
	}
	#global-nav > li > p a img {
		width:100%;
	}
		
	.l-infoBlock{
		width:100%;
		margin:0 auto;
		padding:25px 0 20px;
		border-bottom:1px solid #dbdbdb;
	}
	.l-infoBlock h2{
		width:100%;
		display:block;
		margin:0;
		padding:0 0 30px;	
		text-align:center;
	}
	.l-infoBlock h2 img{
		max-width:142px;
		width:100%;
	}
	.l-infoBlock .l-infoBlock-table{
		display:block;
		width:100%;
		margin:0 auto;
		padding:0;
	}
	.l-infoBlock .l-infoBlock-table .l-info{
		display:inline-block;
		width:50%;
		vertical-align:top;
		padding:0 0px 25px;
	}
	.l-infoBlock .l-infoBlock-table .l-info:nth-child(odd){
		padding:0 5px 20px 0;
	}
	.l-infoBlock .l-infoBlock-table .l-info:nth-child(even){
		padding:0 0 20px 5px;
	}
	.l-infoBlock .l-infoBlock-table .l-info:nth-child(3),
	.l-infoBlock .l-infoBlock-table .l-info:nth-child(4){
		padding-bottom:0;
	}
	.l-infoBlock .l-infoBlock-table .l-info a{
		display:block;
		text-decoration:none;
		line-height:0;
	}
	.l-infoBlock .l-infoBlock-table .l-info a .p-image{
		display:block;
		width:100%;
		overflow:hidden;
		background-color:#d7d7d7;
	}
	.l-infoBlock .l-infoBlock-table .l-info a .p-image img{
		max-width:100%;
		width:100%;
	}
	.l-infoBlock .l-infoBlock-table .l-info a .p-category{
		display:block;
		width:100%;
		padding-top:10px;
	}
	.l-infoBlock .l-infoBlock-table .l-info a .p-category span{
		display:inline-block;
		padding:10px;
		font-size:10px;
		color:#FFFFFF;
	}
	.l-infoBlock .l-infoBlock-table .l-info a .p-category span:first-child{
		margin-right:7px;
	}
	.l-infoBlock .l-infoBlock-table .l-info a .p-category span.p-gourmet{
		background-color:#e7a814;
	}
	.l-infoBlock .l-infoBlock-table .l-info a .p-category span.p-shopping{
		background-color:#f19ca6;
	}
	.l-infoBlock .l-infoBlock-table .l-info a .p-category span.p-spot{
		background-color:#86b522;
	}
	/*.l-infoBlock .l-infoBlock-table .l-info a .p-category span.p-area01{
		background-color:#6c9bd2;
	}
	.l-infoBlock .l-infoBlock-table .l-info a .p-category span.p-area02{
		background-color:#f39939;
	}
	.l-infoBlock .l-infoBlock-table .l-info a .p-category span.p-area03{
		background-color:#ba79b1;
	}
	.l-infoBlock .l-infoBlock-table .l-info a .p-category span.p-area04{
		background-color:#86b522;
	}
	.l-infoBlock .l-infoBlock-table .l-info a .p-category span.p-area05{
		background-color:#f091a0;
	}*/
	.l-infoBlock .l-infoBlock-table .l-info a .p-date{
		display:block;
		width:100%;
		font-size:10px;
		color:#676767;
		line-height:1;
		padding-top:10px;
	}
	.l-infoBlock .l-infoBlock-table .l-info a .p-title{
		display:block;
		width:100%;
		font-size:14px;
		line-height:1.5;
		padding-top:5px;
	}
	
	.l-searchBlock{
		width:100%;
		margin:0 auto;
		padding:25px 0 20px;
	}
	.l-searchBlock h2{
		width:100%;
		display:block;
		margin:0;
		padding:0 0 30px;	
		text-align:center;
	}
	.l-searchBlock h2 img{
		max-width:100px;
		width:100%;
	}
	.l-searchBlock .l-searchBlock-table{
		display:block;
		width:100%;
		margin:0 auto;
		padding:0;
	}
	.l-searchBlock .l-searchBlock-table .l-search{
		display:inline-block;
		width:50%;
		vertical-align:top;
		padding:0 0px 25px;
	}	
	.l-searchBlock .l-searchBlock-table .l-search:nth-child(odd){
		padding:0 5px 20px 0;
	}
	.l-searchBlock .l-searchBlock-table .l-search:nth-child(even){
		padding:0 0 20px 5px;
	}
	/*.l-searchBlock .l-searchBlock-table .l-search:nth-last-child(1),
	.l-searchBlock .l-searchBlock-table .l-search:nth-last-child(2),
	.l-searchBlock .l-searchBlock-table .l-search:nth-last-child(3),
	.l-searchBlock .l-searchBlock-table .l-search:nth-last-child(4){
		padding-bottom:0;
	}*/
	.l-searchBlock .l-searchBlock-table .l-search a{
		display:block;
		text-decoration:none;
		line-height:0;
	}
	.l-searchBlock .l-searchBlock-table .l-search a .p-image{
		display:block;
		width:100%;
		overflow:hidden;
		background-color:#d7d7d7;
	}
	.l-searchBlock .l-searchBlock-table .l-search a .p-image img{
		max-width:100%;
		width:100%;
	}
	.l-searchBlock .l-searchBlock-table .l-search a .p-category{
		display:block;
		width:100%;
		padding-top:10px;
	}
	.l-searchBlock .l-searchBlock-table .l-search a .p-category span{
		display:inline-block;
		padding:10px;
		font-size:10px;
		color:#FFFFFF;
	}
	.l-searchBlock .l-searchBlock-table .l-search a .p-category span:first-child{
		margin-right:7px;
	}
	.l-searchBlock .l-searchBlock-table .l-search a .p-category span.p-gourmet{
		background-color:#e7a814;
	}
	.l-searchBlock .l-searchBlock-table .l-search a .p-category span.p-shopping{
		background-color:#f19ca6;
	}
	.l-searchBlock .l-searchBlock-table .l-search a .p-category span.p-spot{
		background-color:#86b522;
	}
	/*.l-searchBlock .l-searchBlock-table .l-search a .p-category span.p-area01{
		background-color:#6c9bd2;
	}
	.l-searchBlock .l-searchBlock-table .l-search a .p-category span.p-area02{
		background-color:#f39939;
	}
	.l-searchBlock .l-searchBlock-table .l-search a .p-category span.p-area03{
		background-color:#ba79b1;
	}
	.l-searchBlock .l-searchBlock-table .l-search a .p-category span.p-area04{
		background-color:#86b522;
	}
	.l-searchBlock .l-searchBlock-table .l-search a .p-category span.p-area05{
		background-color:#f091a0;
	}*/
	.l-searchBlock .l-searchBlock-table .l-search a .p-date{
		display:block;
		width:100%;
		font-size:10px;
		color:#676767;
		line-height:1;
		padding-top:10px;
	}
	.l-searchBlock .l-searchBlock-table .l-search a .p-title{
		display:block;
		width:100%;
		font-size:14px;
		line-height:1.5;
		padding-top:5px;
	}
	
	.l-searchBlock2{
		width:100%;
		margin:0 auto;
		padding:25px 0 20px;
	}
	.l-searchBlock2 h2{
		width:100%;
		display:block;
		margin:0;
		padding:0 0 30px;	
		text-align:center;
	}
	.l-searchBlock2 h2 img{
		max-width:100px;
		width:100%;
	}
	.l-searchBlock2 .l-searchBlock2-table{
		display:block;
		width:100%;
		margin:0 auto;
		padding:0;
	}
	.l-searchBlock2 .l-searchBlock2-table .l-search2{
		display:block;
		width:100%;
		vertical-align:top;
		padding:0 0px 10px;
	}
	.l-searchBlock2 .l-searchBlock2-table .l-search2:nth-child(odd){
		padding:0 0 10px 0;
	}
	.l-searchBlock2 .l-searchBlock2-table .l-search2:nth-child(even){
		padding:0 0 10px 0;
	}
	.l-searchBlock2 .l-searchBlock2-table .l-search2 a{
		display:block;
		text-decoration:none;
		line-height:0;
	}
	.l-searchBlock2 .l-searchBlock2-table .l-search2 a .p-image{
		display:inline-block;
		float:left;
		width:50%;
		overflow:hidden;
		background-color:#d7d7d7;
	}
	.l-searchBlock2 .l-searchBlock2-table .l-search2 a .p-image img{
		max-width:100%;
		width:100%;
	}
	.l-searchBlock2 .l-searchBlock2-table .l-search2 a .p-category{
		display:inline-block;
		float:left;
		width:50%;
		padding-top:0;
		padding-left:10px;
	}
	.l-searchBlock2 .l-searchBlock2-table .l-search2 a .p-category span{
		display:inline-block;
		padding:10px;
		font-size:10px;
		color:#FFFFFF;
	}
	.l-searchBlock2 .l-searchBlock2-table .l-search2 a .p-category span:first-child{
		margin-right:7px;
	}
	.l-searchBlock2 .l-searchBlock2-table .l-search2 a .p-category span.p-gourmet{
		background-color:#e7a814;
	}
	.l-searchBlock2 .l-searchBlock2-table .l-search2 a .p-category span.p-shopping{
		background-color:#f19ca6;
	}
	.l-searchBlock2 .l-searchBlock2-table .l-search2 a .p-category span.p-spot{
		background-color:#86b522;
	}
	/*.l-searchBlock2 .l-searchBlock2-table .l-search2 a .p-category span.p-area01{
		background-color:#6c9bd2;
	}
	.l-searchBlock2 .l-searchBlock2-table .l-search2 a .p-category span.p-area02{
		background-color:#f39939;
	}
	.l-searchBlock2 .l-searchBlock2-table .l-search2 a .p-category span.p-area03{
		background-color:#ba79b1;
	}
	.l-searchBlock2 .l-searchBlock2-table .l-search2 a .p-category span.p-area04{
		background-color:#86b522;
	}
	.l-searchBlock2 .l-searchBlock2-table .l-search2 a .p-category span.p-area05{
		background-color:#f091a0;
	}*/
	.l-searchBlock2 .l-searchBlock2-table .l-search2 a .p-date{
		display:inline-block;
		float:left;
		width:50%;
		font-size:10px;
		color:#676767;
		line-height:1;
		padding-top:10px;
		padding-left:10px;
	}
	.l-searchBlock2 .l-searchBlock2-table .l-search2 a .p-title{
		display:inline-block;
		float:left;
		width:50%;
		font-size:13px;
		line-height:1.5;
		padding-top:10px;
		padding-left:10px;
	}
	
	footer{
		width:100%;
		margin:20px auto 0;
		padding:20px 0 10px;
		background-color:#fce1e8;
	}
	footer .l-footerBlock01{
		width:100%;
		padding:0px 0 0px;
		text-align:center;
	}
	footer .l-footerBlock01 .l-footerBlock01-table{
		width:100%;
		display:block;
	}
	footer .l-footerBlock01 .l-footerBlock01-table > div{
		display:block;
	}
	footer .l-footerBlock01 .l-footerBlock01-table > .l-left{
		width:100%;
		vertical-align:middle;
	}
	footer .l-footerBlock01 .l-footerBlock01-table > .l-left p{
		text-align:center;
		padding-left:0;
		padding-bottom:50px;
		padding-top:30px;
	}
	footer .l-footerBlock01 .l-footerBlock01-table > .l-left p img{
		max-width:129px;
		width:100%;
	}
	footer .l-footerBlock01 .l-footerBlock01-table > .l-right{
		width:100%;
		vertical-align:middle;
		text-align:center;
	}
	footer .l-footerBlock01 .l-footerBlock01-table > .l-right .l-link{
		font-size:16px;
		color:#676767;
		line-height:0;
	}
	footer .l-footerBlock01 .l-footerBlock01-table > .l-right .l-link a{
		display:inline-block;
		width:50%;
		text-decoration:none;
		color:#676767;
		padding:10px 10px;
		letter-spacing:0.05em;
		position:relative;
		top:-1px;
		line-height:1;
		margin:0 0 25px;
	}
	footer .l-footerBlock01 .l-footerBlock01-table > .l-right .l-link a:nth-child(odd){
		border-left:1px solid #676767;
		border-right:none;
	}
	footer .l-footerBlock01 .l-footerBlock01-table > .l-right .l-link a:nth-child(even){
		border-left:1px solid #676767;
		border-right:1px solid #676767;
	}
	footer .l-footerBlock01 .l-footerBlock01-table > .l-right .l-link a:hover{
		opacity:0.7;
	}
	footer .l-footerBlock01 .l-footerBlock01-table > .l-right .l-adress{
		padding-top:10px;
		font-size:16px;
		color:#231815;
		line-height:1.8;
		letter-spacing:0.05em;
		font-weight:bold;
		text-align:left;
	}
	footer .l-footerBlock01 .l-footerBlock01-table > .l-right .l-banner{
		padding-top:15px;
		display:block;
		text-align:left;
	}
	footer .l-footerBlock01 .l-footerBlock01-table > .l-right .l-banner p{
		display:inline-block;
		width:50%;
		vertical-align:top;
	}
	footer .l-footerBlock01 .l-footerBlock01-table > .l-right .l-banner p:nth-child(1){
		padding-right:5px;
	}
	footer .l-footerBlock01 .l-footerBlock01-table > .l-right .l-banner p:nth-child(2){
		padding-left:5px;
		padding-right:0px;
	}
	footer .l-footerBlock01 .l-footerBlock01-table > .l-right .l-banner p:nth-child(3){
		padding-left:0px;
		padding-right:5px;
	}
	footer .l-footerBlock01 .l-footerBlock01-table > .l-right .l-banner p img.p-banner01{
		max-width:100%;
		width:100%;
	}
	footer .l-footerBlock01 .l-footerBlock01-table > .l-right .l-banner p img.p-banner02{
		max-width:100%;
		width:100%;
	}
	footer .l-footerBlock01 .l-footerBlock01-table > .l-right .l-banner p img.p-banner03{
		max-width:100%;
		width:100%;
	}
	footer .l-copy{
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:20px 0 0;
	}
	footer .l-copy p{
		font-size:12px;
		color:#676767;
	}
	
	.l-inner{
		padding:0 10px;
	}
	.l-inner1100{
		padding:0 10px;
	}
	.l-inner1000{
		padding:0 10px;
	}
	.l-inner700{
		padding:0 10px;
	}
	
	.pconly{
		display:none !important;
	}
	
	.sponly0{
		display:block !important;
	}
	
	.sponly{
		display:none !important;
	}
	
	.sponly1{
		display:none !important;
	}
	
	.sponly1_5{
		display:block !important;
	}
	
	.sponly2{
		display:block !important;
	}
	
	
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/
