@charset "utf-8";
/* CSS Document */

.l-infoBlock{
	border-bottom: none;	
}

.l-block01{
	width:100%;
	margin:0 auto;
	padding:55px 0 65px;	
	text-align:center;
	border-bottom:1px solid #dbdbdb;
}
.l-block01 .p-image{
	display:block;
	width:100%;
	line-height:0;
}
.l-block01 .p-image img{
	max-width:624px;
	width:100%;
}
.l-block01 .p-message{
	text-align:left;
	line-height:1.8;
	font-size:16px;
	padding-top:20px;
	letter-spacing:0.05em;
}
.l-block01 .l-block01-table{
	display:table;
	margin:0 auto;
	padding-top:65px;
}
.l-block01 .l-block01-table > p{
	display:table-cell;
	vertical-align:top;
}
.l-block01 .l-block01-table > p:nth-child(1){
	padding-right:10px;
}
.l-block01 .l-block01-table > p:nth-child(2){
	padding-left:5px;
	padding-right:5px;
}
.l-block01 .l-block01-table > p:nth-child(3){
	padding-left:10px;
}
.l-block01 .l-block01-table > p a{
	display:inline-block;
	line-height:0;
}
.l-block01 .l-block01-table > p a img{
	max-width:282px;
	width:100%;
}

.l-block02{
	width:100%;
	margin:0 auto;
	padding:55px 0 60px;
	border-bottom:1px solid #dbdbdb;
}
.l-block02 h2{
	width:100%;
	display:block;
	margin:0;
	padding:0 0 50px;	
	text-align:center;
}
.l-block02 h2 img{
	max-width:208px;
	width:100%;
}
.l-block02 .l-block02-table{
	display:table;
	width:100%;
	margin:0 auto;
	padding:0;
}
.l-block02 .l-block02-table > div{
	display:table-cell;
	vertical-align:top;
}
.l-block02 .l-block02-table > .l-left{
	width:265px;
	text-align:center;
	padding-right:25px;
}
.l-block02 .l-block02-table > .l-left .p-image{
	display:block;
	width:100%;
	text-align:center;
	line-height:0;
}
.l-block02 .l-block02-table > .l-left .p-image img{
	max-width:187px;
	width:100%;
}
.l-block02 .l-block02-table > .l-left .p-name{
	display:block;
	width:100%;
	font-size:16px;
	line-height:1.8;
	padding-top:15px;
	letter-spacing:0.1em;
}
.l-block02 .l-block02-table > .l-left .p-name span{
	display:block;
	width:100%;
	font-size:14px;
	line-height:1.8;
	padding-bottom:5px;
}
.l-block02 .l-block02-table > .l-right{
	width:auto;
	text-align:left;
}
.l-block02 .l-block02-table > .l-right .p-message{
	display:block;
	width:100%;
	font-size:16px;
	line-height:1.8;
	padding-bottom:30px;
}
.l-block02 .l-block02-table > .l-right .p-message:last-child{
	padding-bottom:0px;
}

.l-block03{
	width:100%;
	margin:0 auto;
	padding:55px 0 60px;
	border-bottom:1px solid #dbdbdb;
}
.l-block03 h2{
	width:100%;
	display:block;
	margin:0;
	padding:0 0 50px;	
	text-align:center;
}
.l-block03 h2 img{
	max-width:513px;
	width:100%;
}
.l-block03 .l-block03-table{
	width:100%;
	margin:0 auto;
	padding:0 0 0px;
	display:table;
}
.l-block03 .l-block03-table .l-all{
	display:block;
	width:100%;
	margin:0 auto;
	padding:0 15px 20px;
	border-bottom:1px solid #86b522;
}
.l-block03 .l-block03-table .l-left{
	display:table-cell;
	vertical-align:top;
	width:50%;
	margin:0 auto;
	padding:25px 25px 20px 15px;
	border-bottom:1px solid #86b522;
}
.l-block03 .l-block03-table .l-right{
	display:table-cell;
	vertical-align:top;
	width:50%;
	margin:0 auto;
	padding:25px 15px 20px 25px;
	border-bottom:1px solid #86b522;
}
.l-block03 .l-block03-table:last-child .l-all,
.l-block03 .l-block03-table:last-child .l-left,
.l-block03 .l-block03-table:last-child .l-right{
	border-bottom:none;
}


.l-block03 .l-block03-table .p-title{
	font-size:16px;
	font-weight:bold;
	line-height:1.8;
	letter-spacing:0.1em;
}
.l-block03 .l-block03-table .p-adress{
	font-size:14px;
	line-height:1.8;
	letter-spacing:0.1em;
}

/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:1000px){
	
	.l-block01{
		width:100%;
		margin:0 auto;
		padding:35px 0 30px;	
		text-align:center;
	}
	.l-block01 .p-image{
		display:block;
		width:100%;
		line-height:0;
	}
	.l-block01 .p-image img{
		max-width:414px;
		width:100%;
	}
	.l-block01 .p-message{
		text-align:left;
		line-height:1.8;
		font-size:16px;
		padding-top:20px;
		letter-spacing:0.05em;
	}
	.l-block01 .l-block01-table{
		display:table;
		margin:0 auto;
		padding-top:42px;
	}
	.l-block01 .l-block01-table > p{
		display:table-cell;
		width:33.3%;
		vertical-align:top;
	}
	.l-block01 .l-block01-table > p:nth-child(1){
		padding-right:4px;
	}
	.l-block01 .l-block01-table > p:nth-child(2){
		padding-left:2px;
		padding-right:2px;
	}
	.l-block01 .l-block01-table > p:nth-child(3){
		padding-left:4px;
	}
	.l-block01 .l-block01-table > p a{
		display:inline-block;
		line-height:0;
	}
	.l-block01 .l-block01-table > p a img{
		max-width:100%;
		width:100%;
	}
	
	.l-block02{
		width:100%;
		margin:0 auto;
		padding:35px 0 30px;
		border-bottom:1px solid #dbdbdb;
	}
	.l-block02 h2{
		width:100%;
		display:block;
		margin:0;
		padding:0 0 30px;	
		text-align:center;
	}
	.l-block02 h2 img{
		max-width:148px;
		width:100%;
	}
	.l-block02 .l-block02-table{
		display:block;
		width:100%;
		margin:0 auto;
		padding:0;
	}
	.l-block02 .l-block02-table > div{
		display:block;
		vertical-align:top;
	}
	.l-block02 .l-block02-table > .l-left{
		width:100%;
		text-align:center;
		padding-right:0;
	}
	.l-block02 .l-block02-table > .l-left .p-image{
		display:block;
		width:100%;
		text-align:center;
		line-height:0;
	}
	.l-block02 .l-block02-table > .l-left .p-image img{
		max-width:131px;
		width:100%;
	}
	.l-block02 .l-block02-table > .l-left .p-name{
		display:block;
		width:100%;
		font-size:20px;
		line-height:1.8;
		padding-top:15px;
		padding-bottom:35px;
		letter-spacing:0.1em;
	}
	.l-block02 .l-block02-table > .l-left .p-name span{
		display:block;
		width:100%;
		font-size:16px;
		line-height:1.8;
	}
	.l-block02 .l-block02-table > .l-right{
		width:auto;
		text-align:left;
	}
	.l-block02 .l-block02-table > .l-right .p-message{
		display:block;
		width:100%;
		font-size:20px;
		line-height:1.8;
		padding-bottom:30px;
	}
	.l-block02 .l-block02-table > .l-right .p-message:last-child{
		padding-bottom:0px;
	}
	
	.l-block03{
		width:100%;
		margin:0 auto;
		padding:35px 0 30px;
		border-bottom:1px solid #dbdbdb;
	}
	.l-block03 h2{
		width:100%;
		display:block;
		margin:0;
		padding:0 0 30px;	
		text-align:center;
	}
	.l-block03 h2 img{
		max-width:362px;
		width:100%;
	}
	
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
@media screen and (max-width:768px){
	
	
	.l-block03 .l-block03-table{
		width:100%;
		margin:0 auto;
		padding:0 0 0px;
		display:block;
	}
	.l-block03 .l-block03-table .l-all{
		display:block;
		width:100%;
		margin:0 auto;
		padding:0 15px 15px;
		border-bottom:1px solid #86b522;
	}
	.l-block03 .l-block03-table .l-left{
		display:block;
		vertical-align:top;
		width:100%;
		margin:0 auto;
		padding:20px 15px 15px;
		border-bottom:1px solid #86b522;
	}
	.l-block03 .l-block03-table .l-right{
		display:block;
		vertical-align:top;
		width:100%;
		margin:0 auto;
		padding:20px 15px 15px;
		border-bottom:1px solid #86b522;
	}
	.l-block03 .l-block03-table:last-child .l-all,
	.l-block03 .l-block03-table:last-child .l-left{
		border-bottom:1px solid #86b522;
	}
	.l-block03 .l-block03-table:last-child .l-right{
		border-bottom:none;
	}
	.l-block03 .l-block03-table .p-title{
		font-size:20px;
		font-weight:bold;
		line-height:1.8;
		letter-spacing:0.1em;
	}
	.l-block03 .l-block03-table .p-adress{
		font-size:16px;
		line-height:1.8;
		letter-spacing:0.1em;
	}
	
}
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
		
	.l-block01{
		width:100%;
		margin:0 auto;
		padding:25px 0 20px;	
		text-align:center;
	}
	.l-block01 .p-image{
		display:block;
		width:100%;
		line-height:0;
	}
	.l-block01 .p-image img{
		max-width:296px;
		width:100%;
	}
	.l-block01 .p-message{
		text-align:left;
		line-height:1.8;
		font-size:14px;
		padding-top:15px;
		letter-spacing:0.05em;
	}
	.l-block01 .l-block01-table{
		display:table;
		margin:0 auto;
		padding-top:30px;
	}
	.l-block01 .l-block01-table > p{
		display:table-cell;
		width:33.3%;
		vertical-align:top;
	}
	.l-block01 .l-block01-table > p:nth-child(1){
		padding-right:4px;
	}
	.l-block01 .l-block01-table > p:nth-child(2){
		padding-left:2px;
		padding-right:2px;
	}
	.l-block01 .l-block01-table > p:nth-child(3){
		padding-left:4px;
	}
	.l-block01 .l-block01-table > p a{
		display:inline-block;
		line-height:0;
	}
	.l-block01 .l-block01-table > p a img{
		max-width:100%;
		width:100%;
	}
	
	.l-block02{
		width:100%;
		margin:0 auto;
		padding:25px 0 20px;
		border-bottom:1px solid #dbdbdb;
	}
	.l-block02 h2{
		width:100%;
		display:block;
		margin:0;
		padding:0 0 30px;	
		text-align:center;
	}
	.l-block02 h2 img{
		max-width:106px;
		width:100%;
	}
	.l-block02 .l-block02-table{
		display:block;
		width:100%;
		margin:0 auto;
		padding:0;
	}
	.l-block02 .l-block02-table > div{
		display:block;
		vertical-align:top;
	}
	.l-block02 .l-block02-table > .l-left{
		width:100%;
		text-align:center;
		padding-right:0;
	}
	.l-block02 .l-block02-table > .l-left .p-image{
		display:block;
		width:100%;
		text-align:center;
		line-height:0;
	}
	.l-block02 .l-block02-table > .l-left .p-image img{
		max-width:93px;
		width:100%;
	}
	.l-block02 .l-block02-table > .l-left .p-name{
		display:block;
		width:100%;
		font-size:14px;
		line-height:1.8;
		padding-top:15px;
		padding-bottom:25px;
		letter-spacing:0.1em;
	}
	.l-block02 .l-block02-table > .l-left .p-name span{
		display:block;
		width:100%;
		font-size:12px;
		line-height:1.8;
	}
	.l-block02 .l-block02-table > .l-right{
		width:auto;
		text-align:left;
	}
	.l-block02 .l-block02-table > .l-right .p-message{
		display:block;
		width:100%;
		font-size:14px;
		line-height:1.8;
		padding-bottom:20px;
	}
	.l-block02 .l-block02-table > .l-right .p-message:last-child{
		padding-bottom:0px;
	}
	
	.l-block03{
		width:100%;
		margin:0 auto;
		padding:25px 0 20px;
		border-bottom:1px solid #dbdbdb;
	}
	.l-block03 h2{
		width:100%;
		display:block;
		margin:0;
		padding:0 0 30px;	
		text-align:center;
	}
	.l-block03 h2 img{
		max-width:258px;
		width:100%;
	}
	.l-block03 .l-block03-table{
		width:100%;
		margin:0 auto;
		padding:0 0 0px;
		display:block;
	}
	.l-block03 .l-block03-table .l-all{
		display:block;
		width:100%;
		margin:0 auto;
		padding:0 10px 10px;
		border-bottom:1px solid #86b522;
	}
	.l-block03 .l-block03-table .l-left{
		display:block;
		vertical-align:top;
		width:100%;
		margin:0 auto;
		padding:15px 10px 10px;
		border-bottom:1px solid #86b522;
	}
	.l-block03 .l-block03-table .l-right{
		display:block;
		vertical-align:top;
		width:100%;
		margin:0 auto;
		padding:15px 10px 10px;
		border-bottom:1px solid #86b522;
	}
	.l-block03 .l-block03-table:last-child .l-all,
	.l-block03 .l-block03-table:last-child .l-left{
		border-bottom:1px solid #86b522;
	}
	.l-block03 .l-block03-table:last-child .l-right{
		border-bottom:none;
	}
	.l-block03 .l-block03-table .p-title{
		font-size:14px;
		font-weight:bold;
		line-height:1.8;
		letter-spacing:0.1em;
	}
	.l-block03 .l-block03-table .p-adress{
		font-size:12px;
		line-height:1.8;
		letter-spacing:0.1em;
	}
		
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/